:host {
  align-items: center;
  background-color: #D6E4FF;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 2em;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s linear;
  width: 2em;

  &:hover .tooltip {
    visibility: visible;
  }

  &.with-tooltip {
    border-radius: 0;
    overflow: visible;

    img {
      border: 1px solid #FFFFFF;
      border-radius: 50%;
    }
  }

  svg {
    height: 1em;
    width: 1em;
  }
}

img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.tooltip {
  background: rgba(0, 0, 0, 88%);
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 15%);
  color: #FFFFFF;
  left: 50%;
  padding: 8px 10px;
  position: absolute;
  top: -34px;
  transform: translate(-50%, 0);
  visibility: hidden;
  width: max-content;

  &::after {
    border-color: grey #000000 transparent transparent;
    border-style: solid;
    border-width: 4px;
    content: "";
    left: 50%;
    margin-left: -4px;
    position: absolute;
    top: 100%;
  }
}
